body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    color: #555;
    text-align: center;
}

.header-container {
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 2em;
}

.header-row-container {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    overflow: hidden;
    position: relative;
    margin-top: 45px;
}

#nav-bar {
    display: none;
    flex-direction: column;
}

nav a {
    color: #333333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #ddd;
}

/* Style the hamburger menu */
.icon {
    background: #FFFFFF;
    color: #333333;
    display: block;
    position: static;
    margin-top: -10px;
    margin-left: 26px;
}

@media only screen and (min-width: 945px) {
    #logo {
        padding-right: 232px;
    }
}

@media only screen and (min-width: 850px) {
    #nav-bar {
        display: flex;
        flex-direction: row;
    }

    nav a {
        color: #333333;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

    nav a:hover {
        background-color: #ddd;
    }

    /* Style the hamburger menu */
    .icon {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .logo-container {
        display: contents !important;
    }
}

.logo-container {
    display:none;
}

#logo {
    max-height: 150px;
}

#logout-button {
    margin-top: 45px;
    margin-right: 26px;
}

#logout-button input {
    padding:0.3em 1.2em;
    border-radius:2em;
    border: none;
    color:#FFFFFF;
    background-color:#4eb5f1;
}

#logout-button input:hover {
    background-color:#4095c6;
}

h1 {
    color: #333;
}


ol {
    display: table;
    margin: 0 auto;
}

form {
    padding-bottom: 1em;
}

form select {
    width: 170.4px;
    height: 22px;
}


