<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8" />
  <title>ShoppingList</title>
</head>
<body>

<h2>Accounts</h2>

<ol>
  <li th:each="product : ${products}">
    <span th:text="${product.id}">name</span>
    <span th:text="${product.productName}">name</span>
  </li>
</ol>

<form method="POST" th:action="@{/products}">
  <input type="text" name="productName"/>
  <input type="number" name="number"/>
  <input type="number" name="quantity"/>
  <input type="text" name="quantityUnit"/>
  <input type="submit" value="Add new product!"/>
</form>

</body>
</html>
